body {
  color: white;
  background-image: url("/images/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #282e39;
  padding: 5em;
}
footer img {
  height: 32px;
}

.Content img {
  width: 100%;
}
a {
  display: block;
}

.Content {
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: stretch;
  margin-top: 64px;
  margin-bottom: 64px;
  border: 3px #2d3139 solid;
}
.Caption {
  background-color: #282e39;
  border: 3px #2d3139 solid;
  padding-left: 16px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}
.Content:hover {
  border: 3px #a7d129 solid;
  box-shadow: 0 0 10px #3e432e;
}

@media (min-width: 950px) {
  img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .Content {
    width: 70%;
    grid-template-rows: auto auto auto;
    grid-template-columns: 40% 60%;
  }
}
@media (max-width: 950px) {
  .Content {
    width: 100%;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
  }
}

.Container {
  position: relative;
}

.CountDownWidget {
  background-color: green;
  font-size: x-large;
  position: absolute;
  margin: 0;
  padding: 0.5em;
  bottom: -1em;
  right: 2em;
}

#Header {
  background-color: #282e39;
}
#Header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 250px;
}
