header {
  background-color: white;
  color: black;
}
body {
  background-color: black;
  color: white;
}
img {
  width: 100%;
}

@media (min-width: 950px) {
  img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .Content {
    width: 70%;
    grid-template-rows: 20% 15% 45% 20%;
    grid-template-columns: 40% 60%;
  }
}
@media (max-width: 950px) {
  .Content {
    width: 100%;
    grid-template-rows: 40% 15% 45%;
    grid-template-columns: 100%;
  }
}

.Content {
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: stretch;
  margin-top: 128px;
  border: 2px #3e432e solid;
}

.Caption {
  margin: 0;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.Caption:hover {
  border: 2px #a7d129 solid;
  box-shadow: 0 0 10px #3e432e;
}
